body{
   background-color: rgb(37, 126, 241);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2em normal;
   color: #9b8c05;
}

header{
  color: white;
  text-align: center;
}

section{
  background-color: aliceblue;
  border-radius: 10px;padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.603);
  border-radius: 50px;
  border: 1PX #059b19 solid;
   
}
div{
  text-align: center;
  padding: 5px;
  border-radius: 30px;
}


footer{
  color: white;
  text-align: center;



}